.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cinza);
}

.cabecalho__logo{
    width: 150px;
    padding: 1em 0.5em;
}

.cabecalho__Link{
    text-transform: uppercase;
    color: #F0F4EF;
}

.cabecalho__Link{
    padding: 1em 0.5em;
    text-decoration: none;
    font-family: var(--Caveat);
    font-size: 20px;
}

.lista__pizza__item{
    list-style: none;
}